*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    position: relative;
}
.bg{
    width: 100%;
    height: 100%;
    position: relative;
}
.bg::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('sakura_bg.jpg');
    z-index: -1;
    background-size: cover;
    background-position: center;
    filter: brightness(45%);
}
fieldset{
    background-color: pink;
}
legend{
    background-color: pink;
}

